<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
  <form th:action="@{/login}" method="post" style="max-width: 200 px;">
    <label for="email">Type your email: </label>
    <input name="email" type="text" id="email" placeholder="Your email..." required autofocus>

    <label for="password">Type your password: </label>
    <input name="password" type="password" id="password" placeholder="Your password..." required>

    <button type="submit">Login</button>
  </form>
</body>
</html>