<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
 <h1>Welcome to the users page</h1>
    <hr/>
    <table>
        <thead>
        <tr>
            <th>Actions</th>
            <th>Id</th>
            <th>Descriptions</th>
            <th>Is complete</th>
            <th>Created at</th>
            <th>Updated at</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${todoEntity}">
                <td>&nbsp;</td>
                <td th:text="${item.id}"></td>
                <td th:text="${item.description}"></td>
                <td>
                    <span th:if="${item.isComplete} == true" th:text="Yes" />
                    <span th:unless="${item.isComplete} == false" th:text="No" />
                </td>
                <td th:text="${item.createdAt}"></td>
                <td th:text="${item.updatedAt}">

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>